<% include header-for-all %>
    <style type="text/css" media="screen">
    body {
        background: #9830b2;
    }

    div.container {
        width: 60vw;
        height: 100vh;
        padding-top: 20vh;
        color: white;
    }
    </style>
    
    <body>
        <div class="container">
            <h1 class="text-right">Nguyện vọng đồ án</h1>
            <h2 class="text-right">Đồ án hiện tại của bạn là:
			<% if (daht == 'da1') { -%>
				<span><u>Đồ án 1</u></span>
			<% } else if(daht == 'da2'){ -%>
				<span><u>Đồ án 2</u></span>
			<% } else if(daht == 'da3'){ -%>
				<span><u>Đồ án 3</u></span>
			<% } else if(daht == 'datn'){ -%>
				<span><u>Đồ án tốt nghiệp</u></span>
                <%}%>
		</h2>
            <form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                <input type="hidden" name="da" value="<%=daht%>">
                <div class="form-group">
                    <label class="control-label col-sm-2">Lựa chọn bộ môn:</label>
                    <div class="col-sm-10">
                        <select name="bomon" class="form-control" id="bomonSelect">
                            <option value="KHMT">Khoa học máy tính</option>
                            <option value="CNPM">Công nghệ phần mềm</option>
                            <option value="HTTT">Hệ thống thông tin</option>
                            <option value="TTMMT">Truyền thông mạng máy tính</option>
                            <option value="ATTT">An toàn thông tin</option>
                            <option value="KTMT">Kỹ thuật máy tính</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Giảng viên hướng dẫn:</label>
                    <div class="col-sm-10">
                        <select name="giangvien" class="form-control" id="giangvienSelect">
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                <div class="form-group">
                	<label class="control-label col-sm-2">Ghi chú (lý do nguyện vọng):</label>
                	<div class="col-sm-10">
                		<textarea class="form-control" rows="5" name="ghichuTxt"></textarea>
                	</div>
            	</div>
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" name="btnChange" value="Xác nhận" class="btn btn-primary">
                </div>
            </div>
            </form>
        </div>
    </body>
    <script src="./js/student-aspiration.js" type="text/javascript" charset="utf-8" async defer></script>