<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lý đồ án</title>
    <link rel="SHORTCUT ICON" href="./images/SoICT_ logo.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/giangvien.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <div class="container animated fadeInDown" id="wallpaper">
        <div class="row">
            <img src="https://t4.ftcdn.net/jpg/01/04/01/37/240_F_104013719_0RBp6tC9Q0ryP0bzgTqHGZWPLbmz2Cdt.jpg" alt="ava" id="ava" class="img-circle img-responsive">
            <h1 class="text-center"><%= usr.ten%></h1>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <% include giangvien-left %>
            <% include giangvien-right %>
        </div>
    </div>
    <script src="./js/giangvien.js"></script>
</body>

