<div class="row">
    <div class="col-sm-4">
        <h3>SoICT_HUST</h3>
        <span class="glyphicon glyphicon-earphone"></span> (+84) 4 3869 2463
        <br>
        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:vp@soict.hust.edu.vn" "email me">vp@soict.hust.edu.vn</a>
        <br>
        <span class="glyphicon glyphicon-map-marker"></span> Phòng 504 - Nhà B1 - Đại học BKHN
        <br> Copyright &copy; DamMinhTien
    </div>
    <div class="col-sm-4">
        <h5>Kết nối với chúng tôi : </h5>
        <i class="fa fa-twitter-square" style="font-size:30px;color:white"></i>
        <i class="fa fa-facebook-square" style="font-size:30px;color:white"></i>
    </div>
    <div class="col-sm-4">
        <h5>Liên kết ngoài</h5>
        <a href="https://soict.hust.edu.vn/" title="soict.hust.edu.vn">Trang chủ viện CNTT và TT</a>
        <br>
        <a href="https://soict.hust.edu.vn/~soict2017/" title="soict.hust.edu.vn/~soict2017">Hội nghị quốc tế viện CNTT 2017</a>
        <br>
        <a href="https://soict.hust.edu.vn/~svnckh/2017/" title="soict.hust.edu.vn/~svnckh/2017">Hội nghị sinh viên nghiên cứu khoa học</a>
        <br>
        <a href="https://soict.hust.edu.vn/msdnaa/" title="msdnaa">Chương trình MSDN-AA</a>
    </div>
</div>