<div class="container">
    <div class="row">
    	<div class="col-md-7" id="div_content">
    		<h4 class="alert-info text-center" style="font-family: Arimo;">THÔNG BÁO CHUNG</h4>
            <% include left_most_recent %>
        </div>
        <div class="col-md-5" id="div_info">
        	<h4 class="alert-info text-center" style="font-family: Arimo;">NỔI BẬT</h4>
            <% include right_most_recent %>
        </div>
    </div>
</div>