<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QLDA.soict.edu.vn</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active" id="navHome"><a href="/">Trang chủ</a></li>
                <li class="dropdown" id="navKHMT">
                    <a href="./da/da/bomon=KHMT">Khoa học máy tính</a>
                </li>
                <li class="dropdown" id="navCNPM">
                    <a href="./da/da/bomon=CNPM">Công nghệ phần mềm</a>
                </li>
                <li class="dropdown" id="navHTTT">
                    <a href="./da/da/bomon=HTTT">Hệ thống thông tin</a>
                </li>
                <li class="dropdown" id="navKTMT">
                    <a href="./da/da/bomon=KTMT">Kỹ thuật máy tính</a>
                </li>
                <li class="dropdown" id="navTTMTT">
                    <a href="./da/da/bomon=TTMMT">Truyền thông MMT</a>
                </li>
                <li class="dropdown" id="navATTT">
                    <a href="./da/da/bomon=ATTT">An toàn thông tin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(usr != null){ 
                   if(usr.user.id >= '20000000'){    %>
                    <li><a href= "../sinhvien"  ><span class="glyphicon glyphicon-user"></span> <%= usr.user.ten %></a></li>
                    <%}else if(usr.user.id >= '1000'){%>
                    <li><a href= "../giangvu"  ><span class="glyphicon glyphicon-user"></span> <%= usr.user.ten %></a></li>        
                    <%}else{%>
                    <li><a href= "../giangvien"  ><span class="glyphicon glyphicon-user"></span> <%= usr.user.ten %></a></li>
                    <%}%>
                <li><a href="../logout">Logout</a></li>
                <% } else { %>
                <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>