<%  var l = thongbao.rows.length;
    var max1 = -1, max2 = -2, max3 = -3, max4 = -4, max5 = -5;
    var i1 = l-1, i2 = l-2, i3 = l-4, i4 = l-5, i5 = l-6;
    for(let i=l-1;i>=l-10;i--){
        let n = parseInt(thongbao.rows[i].luotxem, 10);
        if(n >= max1){
            max5 = max4; i5 = i4;
            max4 = max3; i4 = i3;
            max3 = max2; i3 = i2;
            max2 = max1; i2 = i1;
            max1 = n; i1 = i;
        }
        else if(n >= max2){
            max5 = max4; i5 = i4;
            max4 = max3; i4 = i3;
            max3 = max2; i3 = i2;
            max2 = n; i2 = i;
        }
        else if(n >= max3){
            max5 = max4; i5 = i4;
            max4 = max3; i4 = i3; 
            max3 = n; i3 = i;
        }
        else if(n >= max4){
            max5 = max4; i5 = i4;
            max4 = n; i4 = i;
        }
        else if(n >= max5){
            max5 = n; i5 = i;
        }
    }
%>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hệ thống quản lý đồ án</title>
        <link rel="SHORTCUT ICON" href="./images/SoICT_ logo.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./css/trangchu.css">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="./images/bkntv.jpg" alt="Bach khoa ngay tro ve">
                    </div>
                    <div class="item">
                        <img src="./images/tlt.png" alt="Back khoa">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div id="div_navbar">
            <% include navbar %>
        </div>
        <div id="div_name_web">
            <div class="container">
                <img class="img-responsive img" src="./images/logo_soict.png" alt="logo_soict.png" width="50vmin">
                <h1 class="text-center">HỆ THỐNG QUẢN LÝ ĐỒ ÁN</h1>
            </div>
        </div>
        <div id="div_search_tool">
            <h4 class="text-center" style="margin: 20px;">TÌM KIẾM TÀI LIỆU</h4>
            <form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="inputSearch" name="key">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="btnSearch">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="div_most_recent">
            <% include most_recent %>
        </div>
        <div id="div_my_footer" class="container">
            <% include footer %>
        </div>
        <script src="./js/trangchu.js"></script>
    </body>

    </html>