<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lý đồ án</title>
    <link rel="SHORTCUT ICON" href="./images/SoICT_ logo.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/sinhvien.css">
</head>
<body>
	<div class="container" id="wallpaper">
	    <img src="http://kenh14cdn.com/2017/34817672211-ba1f723cfd-k-1496912099026.jpg" alt="ava" id="ava" class="img-circle img-responsive">
	    <h1 class="text-center"><%= usr.ten%></h1>
	    <h4 class="text-center"><i>"Trăng dưới nước là trăng trên trời / Người trước mặt là người trong tim"</i></h4>
	</div>
</body>